.item-card-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 1025px;
  height: 230px;
  cursor: pointer;
}

.item-card-image {
  margin: 15px;
  width: 200px;
}

.item-card-desc {
  width: 435px;
  margin-top: 20px;
  margin-right: 170px;
}

.item-card-price {
  display: flex;
  align-items: center;
}

.item-card-value {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.item-card-shipping-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.item-card-name {
  margin-top: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.item-card-location {
  padding-top: 60px;
  color: #636363;
  width: 210px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
